extends layout
block css
  link(rel='stylesheet', href='/foundation/css/normalize.css')
  link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.css')
  link(rel='stylesheet', href='/stylesheets/style.css')
block js
  script(src="/jquery/dist/jquery.js")
  script(src="/socket.io/socket.io.js")
  script(src="/angular/angular.js")
  script(src="/matchmedia-ng/matchmedia-ng.js")
  script(src="/angular-route/angular-route.js")
  script(src="/angular-animate/angular-animate.js")
  script(src="/greensock/src/uncompressed/TweenMax.js")
  script(src="/javascripts/main.js")
  script(src="/javascripts/io.js")
   
block content  
  nav(class="navbar navbar-default" nav-responsive )
    div(class="navbar-header" ng-show="!isDesktop")
      button(type="button" class="navbar-toggle" ng-click="Toogle($event);")
        span(class="sr-only") Toggle navigation
        span(class="icon-bar")
        span(class="icon-bar")
        span(class="icon-bar")      
        span(class="icon-bar")
    div(class="collapse navbar-collapse" ng-class="{'in':!collapse}")
      ul(class="nav navbar-nav" )
        li(ng-class="{active:section=='home'}")
          a(href="#home") Home          
        li(ng-class="{active:section=='trabajos'}")
          a(href="#trabajos") Trabajos
        li(ng-class="{active:section=='chat'}")
          a(href="#chat") chat
        li(ng-class="{active:section=='status'}")
          a(href="#status") status  
  div(class="row")
    div(class="col-md-2") &nbsp;

    div(class="col-md-10")
      div(ng-view)
  div(class="row")
    div(class="col-md-2") &nbsp;
    div(class="col-md-10")
      h2=title 
      h1=oleo
          
  
