doctype html
html(class="no-js" lang="es" ng-app="watson")
  head
    meta(charset="utf-8")
    title= title
    block css
    block js
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body(ng-controller="mainCtrl")
    block content    